# Telegram Bot Ayarları
# BotFather'dan alacağınız bot token
TG_TOKEN=7912774405:AAE701Rsh2L0M2QSlBpjCbC24oNpJjeHgcs

# Bildirim gönderilecek chat ID
# Bot'a mesaj gönderip https://api.telegram.org/bot<TOKEN>/getUpdates adresinden alabilirsiniz
TG_CHAT_ID=1094122282

# Upstash Redis Ayarları
# https://upstash.com/ adresinden ücretsiz Redis instance oluşturun
UPSTASH_REDIS_REST_URL="https://still-yeti-23635.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AVxTAAIncDIwZjdjNGIyY2FiOTM0NDc1OTZhZDI4MjAwMTUyY2U2ZnAyMjM2MzU"
# Cron Job Güvenliği (isteğe bağlı)
# Manuel çalıştırma için güvenlik anahtarı
CRON_SECRET=1

# Next.js Ayarları
NODE_ENV=production
